{$PUBLIC_APP_URL} {
	encode zstd gzip

	header {
		-Server
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Frame-Options "DENY"
		Content-Security-Policy "frame-ancestors 'none'"
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
	}

	@api path /v1 /v1/*
	handle @api {
		reverse_proxy api:3001
	}

	handle {
		reverse_proxy web:3000
	}

	log {
		output stdout
		format json
	}
}
